* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4em;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}
div.concert {
    background: #eee;
    border-radius: .3rem;
    padding: 1rem;
    box-shadow: 5px 5px 8px rgba(0,0,0,.3);
    margin: 0 1rem 1rem 0;
    width: 40%;
    display: inline-block;
}